<div  class="background-image">
    <div id="poster" class="box">
        <div class="glass"></div>
        <div class="content">
            <div class="profile-cover">
                <div class="profile-avatar">
                    <a href="{{perfil?.html_url}}" target="_blank">GitHub>
                        <img [src]="perfil?.avatar_url"></a>
                </div>
                <div class="profile-details">
                    <h1>{{perfil?.name}}</h1>
                    <h2>@{{perfil?.login}}</h2>
                    <h4>{{perfil?.location}}</h4>
                    <h5>{{perfil?.bio}}</h5>
                </div>
                <div>
                    <h1>JUEGO PROPIO:</h1>
                    <p>
                        El juego del buscaminas es un juego de lógica en el que el objetivo es despejar un campo de minas sin hacer explotar ninguna de ellas. El campo de juego se divide en casillas cuadradas y cada casilla puede contener una mina o estar vacía.
                        El desafío del juego radica en utilizar la lógica y la deducción para evitar las casillas con minas y despejar de manera segura las casillas vacías.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>