<section style="width: 100%;height: 100%; position: fixed;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-3">
            <div class="login-box">
                <h2>Ingrese sus datos</h2>
                <form>
                    <div class="form-outline mb-4 user-box group log-input">
                        <input type="text" class="form-control" name="userName"
                        value="" required [(ngModel)]="usuario.userName" (input)="validarName()"
                        [ngClass]="{'is-invalid': !nameValido, 'is-valid': nameValido}">
                        <label for="userName" class="form-label">Nombre de usuario</label>

                        <div class="invalid-feedback" *ngIf="usuario.userName.length > 0">
                            Ingrese un nombre de usuario válido
                        </div>
                        <div class="valid-feedback">
                            Nombre de usuario válido
                        </div>
                    </div>


                    <div class="user-box form-outline mb-4 user-box group log-input">
                        <input type="email" class="form-control" name="correo" value="" required [(ngModel)]="usuario.correo"
                            (input)="validarCorreo()"
                            [ngClass]="{'is-invalid': !correoValido, 'is-valid': correoValido}">
                        <div class="invalid-feedback" *ngIf="usuario.correo.length > 0">
                            Ingrese un correo válido
                        </div>
                        <div class="valid-feedback">
                            Correo válido
                        </div>
                        <label for="correo" class="form-label">Correo</label>
                    </div>
                    
                    <div class="user-box form-outline mb-4 user-box group log-input">

                        <input type="password" class="form-control" name="password" value="" required
                        [(ngModel)]="usuario.password" (input)="validarPass()"
                            [ngClass]="{'is-invalid': !passValido, 'is-valid': passValido}">
                        <div class="invalid-feedback" *ngIf="usuario.password.length > 0">
                            Ingrese una contraseña válida
                        </div>
                        <div class="valid-feedback">
                            Contraseña válido
                        </div>
                        <label for="password" class="form-label">Contraseña</label>
                    </div>
                    <div style="display: flex; justify-content:center">
                        <a (click)="register()" class="custom-button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Registrar
 
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
