<div class="background-image">
    <article class="box">
        <div class="glass"></div>
        <div class="contenido">
            <img src="/assets/background/descargar.gif" alt="" class="cover-image">
            <div class="welcome-container">
                <h1 class="welcome-text">¡Bienvenido a nuestra página de juegos!</h1>
                <p class="subtitle">Explora y disfruta de una amplia variedad de juegos emocionantes.</p>
                <p class="subtitle">¡Regístrate ahora para empezar a jugar y desafiar a tus amigos!</p>
            </div>
            <img src="/assets/background/imgmario.png" alt="">
        </div>
    </article>
</div>