<div class="listado-container">
  <div id="poster" class="box">
    <div class="glass"></div>
    <div class="content">
      <div>
        <h2 style="text-align: center; margin-bottom: 20px; background-color: black;">Estadísticas generales</h2>
        <table class="table contenedor-tabla container">
          <thead>
            <tr>
              <th scope="col">JUEGO</th>
              <th scope="col">VECES JUGADO</th>
              <th scope="col">VICTORIAS</th>
              <th scope="col">DERROTAS</th>
              <th scope="col">PUNTAJE PROMEDIO OBTENIDO</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr">
              <td>AHORCADO</td>
              <td>{{ ahorcadoVecesJugadas }}</td>
              <td>{{ ahorcadoVictorias }}</td>
              <td>{{ ahorcadoDerrotas }}</td>
              <td>{{ ahorcadoPuntajePromedio }}</td>
            </tr>
            <tr class="tr">
              <td>MAYOR O MENOR</td>
              <td>{{ mayorMenorVecesJugadas }}</td>
              <td>{{ mayorMenorVictorias }}</td>
              <td>{{ mayorMenorDerrotas }}</td>
              <td>{{ mayorMenorPuntajePromedio }}</td>
            </tr>
            <tr class="tr">
              <td>PREGUNTADOS</td>
              <td>{{ preguntadosVecesJugadas }}</td>
              <td>{{ preguntadosVictorias }}</td>
              <td>{{ preguntadosDerrotas }}</td>
              <td>{{ preguntadosPuntajePromedio }}</td>
            </tr>
            <tr class="tr">
              <td>BUSCAMINAS</td>
              <td>{{ buscaminasVecesJugadas }}</td>
              <td>{{ buscaminasVictorias }}</td>
              <td>{{ buscaminasDerrotas }}</td>
              <td>{{ buscaminasPuntajePromedio }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="seleccionoUnUsuario">
        <h3 style="margin-top: 50px; margin-bottom: 30px; background-color: black;">Estadísticas de:
          {{usuarioSeleccionado}}</h3>
        <table class="table contenedor-tabla container">
          <thead>
            <tr>
              <th scope="col">JUEGO</th>
              <th scope="col">VECES JUGADO</th>
              <th scope="col">VICTORIAS</th>
              <th scope="col">DERROTAS</th>
              <th scope="col">PUNTAJE PROMEDIO OBTENIDO</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr" *ngIf="seleccionoAhorcado">
              <td>AHORCADO</td>
              <td>{{ ahorcadoVecesJugadasDelUsuarioSeleccionado }}</td>
              <td>{{ ahorcadoVictoriasDelUsuarioSeleccionado }}</td>
              <td>{{ ahorcadoDerrotasDelUsuarioSeleccionado }}</td>
              <td>{{ ahorcadoPuntajePromedioDelUsuarioSeleccionado }}</td>
            </tr>
            <tr class="tr" *ngIf="seleccionoMayorMenor">
              <td>MAYOR O MENOR</td>
              <td>{{ mayorMenorVecesJugadasDelUsuarioSeleccionado }}</td>
              <td>{{ mayorMenorVictoriasDelUsuarioSeleccionado }}</td>
              <td>{{ mayorMenorDerrotasDelUsuarioSeleccionado }}</td>
              <td>{{ mayorMenorPuntajePromedioDelUsuarioSeleccionado }}</td>
            </tr>
            <tr class="tr" *ngIf="seleccionoPreguntados">
              <td>PREGUNTADOS</td>
              <td>{{ preguntadosVecesJugadasDelUsuarioSeleccionado }}</td>
              <td>{{ preguntadosVictoriasDelUsuarioSeleccionado }}</td>
              <td>{{ preguntadosDerrotasDelUsuarioSeleccionado }}</td>
              <td>{{ preguntadosPuntajePromedioDelUsuarioSeleccionado }}</td>
            </tr>
            <tr class="tr" *ngIf="seleccionoBuscaminas">
              <td>BUSCAMINAS</td>
              <td>{{ buscaminasVecesJugadasDelUsuarioSeleccionado }}</td>
              <td>{{ buscaminasVictoriasDelUsuarioSeleccionado }}</td>
              <td>{{ buscaminasDerrotasDelUsuarioSeleccionado }}</td>
              <td>{{ buscaminasPuntajePromedioDelUsuarioSeleccionado }}</td>
            </tr>
          </tbody>
        </table>
        <button style="width: 300px; margin: 0 auto; margin-top: 30px;" (click)="reiniciarTabla()" type="submit"
          class="btn-juegos">Cambiar</button>
      </div>

      <form style="margin-top: 40px; width: 100%;" class="container contenedor-form" *ngIf="!seleccionoUnUsuario">
        <h2 style="text-align: center; margin-bottom: 20px; background-color: black; width: 72%;align-items: center;margin-left: 14%;">Estadísticas individuales</h2>
        <div class="d-flex flex-wrap">
          <div class="flex-column" style="flex: 1; margin-left:5%;">
            <label style="left:0;display: flex;">Juegos:</label>
            <div class="form-check text-start">
              <input (input)="validarCheck()" class="form-check-input" type="checkbox" value="ahorcado" id="ahorcado"
                name="juegos" />
              <label class="form-check-label" for="ahorcado">
                Ahorcado
              </label>
            </div>
            <div class="form-check text-start">
              <input (input)="validarCheck()" class="form-check-input" type="checkbox" value="mayorMenor"
                id="mayorMenor" name="juegos" />
              <label class="form-check-label" for="mayorMenor"> Mayor o Menor </label>
            </div>
            <div class="form-check text-start" [ngClass]="{'is-invalid': !checkValidado, 'is-valid': checkValidado}">
              <input (input)="validarCheck()" class="form-check-input" type="checkbox" value="preguntados"
                id="preguntados" name="juegos" />
              <label class="form-check-label" for="preguntados"> Preguntados </label>
            </div>
            <div class="form-check text-start">
              <input (input)="validarCheck()" class="form-check-input" type="checkbox" value="buscaminas"
                id="buscaminas" name="juegos" />
              <label class="form-check-label" for="buscaminas">
                Buscaminas
              </label>
            </div>
            <div class="invalid-feedback">
              *Obligatorio: Seleccione el o los juegos
            </div>
            <div class="valid-feedback">
              Juego válido
            </div>
          </div>

          <div class="flex-column" style="flex: 1;">
            <label style="left:0;display: flex;">Usuarios:</label>
            <div style="display: flex;
          flex-direction: column;">
              <select [ngClass]="{'is-invalid': !selecValidado, 'is-valid': selecValidado}" (input)="validarSelect()"
                class="form-select" id="usuariosRegistrados">
                <option value="" selected>Elija un usuario</option>
                <option *ngFor="let opcion of usuariosRegistrados" [value]="opcion.userEmail">{{ opcion.userEmail }}
                </option>
              </select>
              <div class="invalid-feedback">
                *Obligatorio: Seleccione un usuario
              </div>
              <div class="valid-feedback">
                Usuario correcto
              </div>
            </div>
          </div>
        </div>

        <button (click)="generarEstadisticasIndividuales()" type="submit" class="btn-juegos">Ver estadísticas</button>
      </form>
    </div>
  </div>

</div>